<!-- <div class="wrapper" style="background-image: url(/assets/resources/logo/texch2.jpg); height: 100%; width: 100% ; ">
<div class="container-fluid " style="background-image: url(/assets/resources/logo/texch2.jpg); height: 100%; width: 100% ; ">
    <div class="row "style=""> 
        <div class="col-sm-6 text-center  border-right">
            <span class="display-1 text-success" >Create</span>
        </div>
        <div class="col-sm-6 text-center text-info">
<span class="display-1">Update</span>
        </div>
    </div>
</div>
</div> -->
<app-talent-management></app-talent-management>
